body {
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    display: flex;
    padding-top: 20px;
}

.column {
    float: left;
    width: 33%;
    padding: 0 10px;
    /* height: 100%; */
}

#bottomcolumn{
    width: 30%;
    /* height: 200px; */
}

/* Responsive columns */
@media screen and (max-width: 600px) {
.column {
    width: 100%;
}
}

.card {
    /* position: relative; */
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: white;
    height: 200px;
}

#bottomcard{
    margin: 5px 10px 0 10px;
    width: 100%;
    border: 2px solid black;
    height: 200px;
}

#subcard{
    height: 100px;
    box-shadow: none;
}

span{
    float: right;
}

.button{
    /* position: absolute;
    bottom: 10px; */
    border-radius: 10px;
    border-style: 1px;
    float: center;
    padding: 10px;
}

#loanbutton{
    background-color: rgb(141, 223, 116);
    width: 90%;
    /* left: 12px;
    bottom: 10px; */
}

#workbutton{
    background-color: rgb(81, 187, 81);
    width: 45%;
}

#bankbutton{
    background-color: burlywood;
    width: 45%;
}

#buybutton{
    width: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    text-align: center;
    width: 100%;
    /* height: 80px; */
    position: relative;
    color: white;
}

h2{
    color: white;
}
h3, h4, h5 {
    text-align: left;
}

h4{
    margin-bottom: 0;
}

p{
    color: black;
    font-size: 10pt;
    text-align: left;
}

.container{
    max-width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

select{
    padding: 5px;
    margin-bottom: 10px;
    float: left;
}

#computer-image{
    height: 167px;
    width: 175px;
}

img {
    max-height: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

ul{
    font-size: 10pt;
    text-align: left;
}

.list{
    float: top;
}